services:
  db:
    image: postgres:15-alpine
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - app_net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: ${POSTGRES_PORT}
      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT}
      DJANGO_DEBUG: "${DEBUG}"
      SUPERUSER_EMAIL: ${SUPERUSER_EMAIL}
      SUPERUSER_PASSWORD: ${SUPERUSER_PASSWORD}
      SUPERUSER_USERNAME: ${SUPERUSER_USERNAME:-admin}
    volumes:
      - .:/app
      - static_volume:/app/static
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    networks:
      - app_net
    restart: unless-stopped

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    image: task_management_api_celery_worker
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
      REDIS_HOST: redis
      DJANGO_DEBUG: "${DEBUG}"
      CELERY_BROKER_URL: "redis://redis:6379/2"
      CELERY_RESULT_BACKEND: "redis://redis:6379/2"
    command: ["sh", "/app/scripts/celery_worker.sh"]
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - app_net
    restart: unless-stopped
    entrypoint: []

volumes:
  postgres_data:
  redis_data:
  static_volume:

networks:
  app_net:
    driver: bridge
